# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Docker
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# MinIO / Postgres data (optional - csak ha nem akarod verziózni)
postgres_data/
minio_data/
